body{
    background-color: #111113;
}
.container_of_detail_view{
    width: 100%;
    background-color: #111113;
}
.container_of_detail_view  h1{
    text-align: center;
    color: beige;
    margin-top: 2%;
}
.main_of_detail_view{
    width: 100%;
    margin-top: 5%;
    display: flex;
    background-color: #111113;
    gap: 10%;
    justify-content: space-around;
}
.left_part_of_detail_view{
    width: 30%;
    position: relative;
}
.left_part_of_detail_view img{
    width: auto;
    height: auto;
    position: absolute;
    left: 30%;

}
.right_part_of_detail_view p{
    font-size: 70%;
    color: white;
    overflow-wrap: break-word;
}
.right_part_of_detail_view{
    flex-wrap: wrap;
    display: flex;
    position: relative;
    width: 50%;
}
.right_part_of_detail_view .left{
    width: 50%;
}
.right_part_of_detail_view .right{
    width: 50%;
    position: absolute;
    margin-left: 60%;
}
.right_part_of_detail_view h2{
    font-size: 90%;
    color: yellow;
}
.h2_of_detail_view{
    color: blanchedalmond;
    font-size: 120%;
}
.description_of_detail_view{
    flex-wrap: wrap;
}
.width-30{
    width: 20%;
}