* {
  padding: 0;
}

body{
    position: relative;
}
.container1 {
  width: 100%;
  position: relative;
}
.navbar {
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Цвет фона навбара с непрозрачностью */
  /* backdrop-filter: blur(10px);  */
  position: fixed;
  top: 0;
  left: 0;
}
.navbar ul {
  color: aliceblue;
  list-style: none;
  display: flex;
}
.left_part_of_navbar {
  width: 50%;
  gap: 3%;
  font-size: 80%;
}
.right_part_of_navbar {
  width: 30%;
  gap: 6%;
}
.logout_and_register_div {
  width: 50%;
  display: flex;
  /* Черный цвет с прозрачностью 0.5 */
}
.logout_and_register_div button {
  color: white;
}

#register_id {
  background-color: rgba(0, 0, 0, 0.6);
}
#logout_id {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
/* !CAROUSEL */

.main_page {
  margin-top: -6%;
}

.registration_modal {
  display: none;
  position: absolute;
  z-index: 15;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 400px;
  border-radius: 5%;
  padding: 20px;
  background-color: #111113;
  border: 2px solid black;
  box-shadow: 10px 10px 5px black;
}
.content_of_registration_modal {
  display: flex;
  position: relative;
  margin-top: 10%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.content_of_registration_modal input {
  background-color: #353935;
  border-radius: 4%;
  position: relative;
  border: none;
}
.registration_modal h2 {
  color: aliceblue;
  margin-left: 24%;
}
.content_of_registration_modal input::placeholder {
  color: gray;
  text-align: center;
}

#finish_registration_btn {
  position: absolute;
  bottom: -40px;
}
.errors {
  color: red;
  font-size: 15px;
}
#login_modal h2 {
  margin-left: 37%;
}

#admin_panel {
  display: none;
  flex-direction: column;
}
*/ .container {
  background-color: black;
  position: relative;
}

.whatch_now {
  background-color: #000;
}

.whatch_now p {
  color: black;
}

.first_page {
  width: 100%;
  height: 100px;
  background-image: url("../images/first_page.png");
}

.film_preview {
  max-width: 100%;
  height: auto;
  padding: 1em 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
p {
  color: white;
}

.film_img {
  margin: 0.5em 0.5em;
}

.film_img img {
  width: 12em;
  height: 8em;
  padding: 0;
  object-fit: cover;
  border-radius: 0.5em;
}


.main_moovie_modalka {

}
.main_moovie_modalka_content{

}
.main_moovie_modalka_form{

}